* {
    margin: 0;
}
body {
    background-color: black;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
}
#fargevelgere {
    display: flex;
    justify-content: space-between;
}
#inpNavn {
    border: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    font-size: 1.6em;
    background-color: #101010;
    color: white;
    font-family: 'Indie Flower', cursive;
}
#inpNavn:focus, button {
    outline: none;
}
input[type=color] {
    flex: 1;
    margin: 4px;
    height: 80px;
}
input[type=color]:first-child {
    margin-left: 0;
}
input[type=color]:last-child {
    margin-right: 0;
}
button {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 16px 32px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-size: 1.6em;
    margin-top: 10px;
}
button:hover {
    background-color: #039be5;
}

#divPaletter {

}

#divPaletter > div {
    height: 60px;
    display: flex;
}
#divPaletter > p {
    color: white;
    margin-top: 20px;
    margin-bottom: 2px;
}
#divPaletter > div > div {
    flex: 1;
}